- name: Create folder and download jenkins.war in /opt
  hosts: all
  become: yes

  tasks:
    - name: Create folder
      file:
        path: /opt/myfolder
        state: directory
        mode: '0755'

    - name: Download jenkins.war
      get_url:
        url: https://get.jenkins.io/war-stable/2.541.1/jenkins.war
        dest: /opt/myfolder/jenkins.war

    - name: Change permissions
      file:
        path: /opt/myfolder/jenkins.war
        mode: '0750'
        owner: ubuntu
        group: root
