---
- name: Implementing loops 
  hosts: all
  become: yes
  tasks:
    - name: Install s/w apps
      apt:
        name: "{{ item }}"
        state: present
        update_cache: yes
      with_items:
        - openjdk-17-jdk
        - maven
        - tree
