- name: Install git, java, maven and tomcat
  hosts: all
  become: yes

  tasks:
    - name: Install git
      apt:
        name: git
        state: present
        update_cache: yes

    - name: Install java
      apt:
        name: openjdk-17-jdk
        state: present

    - name: Install maven
      apt:
        name: maven
        state: present

    - name: Install tomcat
      apt:
        name: tomcat10
        state: present

    - name: Restart tomcat
      service:
        name: tomcat10
        state: restarted
        enabled: yes
